{% extends "base.html" %}

{% block title %}Listado de Operaciones{% endblock %}

{% block content %}
<div class="container">
    <a href="/investor_dashboard" class="btn btn-primary mt-3">Regresar al Dashboard</a>
    <button id="logout-button" class="btn btn-danger mt-3">Cerrar sesión</button>
    <h1 class="mt-5">Operaciones Activas</h1>
    <div id="operations-list" class="container">
        {% for operation in operations %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    Monto Total: {{ operation.required_amount }} - Fecha Límite: {{ operation.deadline }}
                </h5>
                <p><strong>Tasa de Interés:</strong> {{ operation.annual_interest }}%</p>
                <p><strong>Monto Actual:</strong> {{ operation.current_amount }}</p>
                <p>{{ operation.status }} </p>
                <p><strong>Estado:</strong> {{ 'Cerrada' if not operation.status else 'Abierta' }}</p>
                <button class="btn btn-warning" type="button" data-operation-id="{{ operation.id }}" data-toggle="modal" data-target="#offerModal">Hacer Oferta</button>

            </div>
        </div>
        {% endfor %}
    </div>
    <a href="/investor_dashboard" class="btn btn-primary mt-3">Regresar al Dashboard</a>
    <button id="logout-button" class="btn btn-danger mt-3">Cerrar sesión</button>
</div>

<div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="offerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="offerModalLabel">Hacer Oferta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="offerForm">
                    <div class="form-group">
                        <label for="invested_amount">Monto Invertido:</label>
                        <input type="number" class="form-control" id="invested_amount" required>
                    </div>
                    <div class="form-group">
                        <label for="interest_rate">Tasa de Interés:</label>
                        <input type="number" class="form-control" id="interest_rate" required>
                    </div>
                    <input type="hidden" id="operation_id" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="sendOffer">Enviar Oferta</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    async function sendOffer(operationId, investedAmount, interestRate) {
        const token = getCookie('token');

        try {
            const response = await fetch('/investor/make-offer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    operation_id: operationId,
                    invested_amount: investedAmount,
                    interest_rate: interestRate
                })
            });
            const result = await response.json();
            console.log()

            if (response.ok) {
                alert('Oferta enviada exitosamente');
                $('#offerModal').modal('hide');
            } else {
                alert(`Error al enviar la oferta: ${result.message}`);
            }
        } catch (error) {
            alert('Ocurrió un error al intentar enviar la oferta.');
        }
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            return parts.pop().split(';').shift();
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.btn-warning').forEach(button => {
            button.addEventListener('click', function() {
                const operationId = this.getAttribute('data-operation-id');
                document.getElementById('operation_id').value = operationId;
            });
        });

        document.getElementById('sendOffer').addEventListener('click', function() {
            const operationId = document.getElementById('operation_id').value;
            const investedAmount = document.getElementById('invested_amount').value;
            const interestRate = document.getElementById('interest_rate').value;

            sendOffer(operationId, investedAmount, interestRate);
        });
    });
</script>

<script>
    document.getElementById('logout-button').addEventListener('click', async function() {
        const response = await fetch('/logout', {
            method: 'POST',
            credentials: 'include'
        });

        if (response.ok) {
            alert("Sesión cerrada correctamente");
            window.location.href = '/index';
        } else {
            alert("Error al cerrar sesión");
        }
    });
</script>
{% endblock %}
